
@import url('https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400..700&display=swap');


*{
    margin: 0;
    padding: 0;
   
}
body{
    background-color: #e0e0e0;
    font-family: "Markazi Text", serif;
}

.navbar{
    display: flex;
    background-color: orange;
    border-radius: 10px;
    margin-top: 10px;
}

.navbar h3{
    font-size: 30px;
    color: #000;
    cursor: pointer;
    margin-left: 2rem;
    &&:hover{
        background-color: #222831;
        color: #fff;
        padding: 5px 5px;
    }
}
.nav-link {
    border-radius: 10px;
    text-align: center;
    color: #000;
    font-size: 30px;
    font-weight: 600;
    &&:hover{
        background-color: #ffff;
        color: #222831;
        padding: 0 7px;
    }
}

.header{
    font-size: 45px;
    text-align: center;
    margin-top: 5px;
    padding: 10px;
    text-decoration: wavy underline #000;
}

.main{
    display: flex;
    margin: 10px;
}
.section{
    padding: 15px;
    width: 530px;
    height: 75vh;
    border: solid 3px black;
    border-radius: 10px;

}

.side img{
    width: 100%;
    height: 75vh;
    border-radius: 15px;
}

.card img{
    width: 100%;
    height: 80%;
}
/* login page style */
.logincontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 70vh;
    width: 40vw;
    border: 1px solid blueviolet;
    border-radius: 20px;
    box-shadow: 0px 0px 3px black;
    margin-top: 5rem;
}

.arrow{
    width: 200px;
    height: 150px;
}
.form-label{
    font-size: 25px;
}

.mt{
    display: flex;
    margin-top: 10px;
    gap: 7px;
    
}

.mt button{
    padding: auto;
    font-size: 25px;
    text-align: center;
}

/* dashboard style section start*/ 
.sectionpart{
   display: flex;
   gap: 10px;
}
.container_dash{
    background-color: #e0e0e0;
    padding: 18px;
}
.sidenav{
    background-color: #3D3D3D;
    margin: 7px;
    width: 20%;
    height: 100vh;
    border-radius: 15px;
}

.sidenav img{
    border-radius: 100%;
}

.sidenav h2{
    font-size: 30px;
    text-align: center;
    font-weight: 600;
    color: #ffff;
    padding: 6px 0;
}
.profile img{
    width: 130px;
    height: 130px;
    border-radius: 100%;
    border: 1px black solid;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
}
.sidenav ul li{
    list-style-type: none;
    font-size: 40px;
    border: solid #ff595e thin;
    color: #fff;
    text-align: center;
    margin: 13px;
    margin-left: -10px;
    border-radius: 20px;
    padding: 2px 0px;
}
.sidenav  li a{
   text-decoration-line: none;
   text-transform: capitalize;
   color: #fff;
}

.sidebox{
    height: 100vh;
    overflow-y: auto;
} 
.sidebox table thead{
    border: solid black 1px;
    width: 75vw;
}
.sidebox thead tr{
    font-size: 16px;
    font-weight: 400;
    border: 1px black solid;
    text-align: center;
}
.sidebox table td{
    font-size: 18px;
    border: 1px black solid;
}
.dash-header{
    display: flex;
    justify-content: start;
    align-items: center;
}
.dash-header a{
    font-size: 30px;
    font-weight: 600w;
    padding: 4px 10px;
    margin: 2px;
    border-radius: 15px;
}
/* .dash-header h2{
   color: #000;
   text-align: center;
   flex-grow: 1;
   font-size: 45px;
   font-weight: 600w;
} */

.logout li{
    margin-top: 10rem;
    background-color: #221eee;
    padding: auto;
}