
@import url('https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400..700&display=swap');


*{
    margin: 0;
    padding: 0;
   
}
body{
    font-family: "Markazi Text", serif;
}

.navbar{
    display: flex;
    background-color: orange;
    border-radius: 10px;
    margin-top: 10px;
}

.navbar h3{
    font-size: 30px;
    color: #000;
    cursor: pointer;
    margin-left: 2rem;
    &&:hover{
        background-color: #222831;
        color: #fff;
        padding: 5px 5px;
    }
}
.nav-link {
    border-radius: 10px;
    text-align: center;
    color: #000;
    font-size: 30px;
    font-weight: 600;
    &&:hover{
        background-color: #ffff;
        color: #222831;
        padding: 0 7px;
    }
}

.header{
    font-size: 45px;
    text-align: center;
    margin-top: 5px;
    padding: 10px;
    text-decoration: wavy underline #000;
}

.main{
    display: flex;
    margin: 10px;
}
.section{
    padding: 15px;
    width: 530px;
    height: 75vh;
    border: solid 3px black;
    border-radius: 10px;

}

.side img{
    width: 100%;
    height: 75vh;
    border-radius: 15px;
}

.card img{
    width: 100%;
    height: 80%;
}


/* login page style */
.logincontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 70vh;
    width: 40vw;
    border: 1px solid blueviolet;
    border-radius: 20px;
    box-shadow: 0px 0px 2px black;
    margin-top: 5rem;
}

.form-label{
    font-size: 25px;
}

.mt{
    display: flex;
    margin-top: 10px;
    gap: 7px;
    
}

.mt button{
    padding: auto;
    font-size: 25px;
    text-align: center;
}